body {
  margin: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("pattern.svg");
}

table {
  border-spacing: 0 10px;
}

header,h1,h2,h3 {
  text-align: center;
}

.stageLabel {
  text-align: center;
  text-decoration: underline;
}

h1,h2,h3,h4,h5 {
  line-height: 1.0;
}


table {
  width: 100%;
  border-spacing: 0 10px;
}
.gameboard tr { width: 50%; }
.gameboard th { color: silver; }
.gameboard td { text-align: center; }

.button {
  background-color: white;
  color: gray;
  border-radius: 12px;
  border: 2px solid silver;
  transition-duration: 0.2s;
}
.button:hover {
  background-color: silver;
}

.prompt {
  text-align: center;
  color: green;
  font-weight: bold;
  font-size: x-large;
}

.banner {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: xx-large;
}

.subtitle { }
.subtitle a {
  color: inherit;
  text-decoration: inherit;
}
.subtitle a:hover {
  text-decoration: underline;
}
.subtitle:visited {
  color: inherit;
  text-decoration: inherit;
}

.rules {
  margin: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
